/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #222224;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

footer {
  background-color: #222224;
}

@media (max-width: 1024px) {
  .container {
    width: 734px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 360px;
  }
}

.brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 64px;
}

.brand__headline-wrp {
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.brand__headline {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  margin: 0 92px 0;
  position: relative;
}

.brand__headline::before {
  content: "";
  position: absolute;
  background-color: #F16D7F;
  width: 12px;
  height: 92px;
  left: -28px;
}

.brand__subheadline {
  display: block;
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
}

.brand__sudheadline-pink {
  color: #F16D7F;
}

@media (max-width: 1024px) {
  .brand__img {
    width: 50%;
  }
  .brand__headline {
    font-weight: 900;
    font-size: 44px;
    line-height: 53px;
    margin: 0 34px 0 68px;
  }
  .brand__subheadline {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
  }
}

@media (max-width: 767px) {
  .brand__img {
    display: none;
  }
  .brand__headline {
    font-weight: 900;
    font-size: 38px;
    line-height: 46px;
    margin: 148px 34px 148px 68px;
  }
  .brand__subheadline {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
  .brand__headline::before {
    height: 70px;
  }
}

.content__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content__perks {
  margin: 0 128px 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.content__title {
  text-transform: uppercase;
  font-weight: 300;
  margin: 0 0 24px;
}

.content__item {
  position: relative;
  margin: 0 43px 16px;
}

.content__list {
  margin: 21px 0 0;
}

.content__item::before {
  content: "";
  width: 20px;
  height: 16px;
  position: absolute;
  top: 6px;
  left: -42px;
  background-image: url(../img/check.svg);
}

@media (max-width: 1024px) {
  .content__perks {
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 0 22px;
  }
}

@media (max-width: 767px) {
  .content__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 360px;
  }
  .content__perks {
    margin: 0 0 100px;
  }
}

.featured__headline {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222224;
  margin: 97px 0 6px;
}

.featured__description {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
}

.featured__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 48px 0 0 0;
}

.featured__item {
  width: 360px;
  margin: 0 0 30px;
  background-color: #F8F8F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.featured__card {
  width: 360px;
  height: 420px;
  position: relative;
  margin: 0 0 25px;
}

.featured__jacket {
  background-image: url(../img/jacket.jpg);
  min-height: 420px;
}

.featured__black-blazer {
  background-image: url(../img/black-blazer.jpg);
  min-height: 420px;
}

.featured__sweater {
  background-image: url(../img/sweater.jpg);
  min-height: 420px;
}

.featured__blue-t-shirt {
  background-image: url(../img/blue-t-shirt.jpg);
  min-height: 420px;
}

.featured__blue-blazer {
  background-image: url(../img/blue-blazer.jpg);
  min-height: 420px;
}

.featured__shirt {
  background-image: url(../img/shirt.jpg);
  min-height: 420px;
}

.featured__overlay {
  display: none;
  width: 100%;
  min-height: 420px;
  background: rgba(58, 56, 56, 0.86);
  position: absolute;
  top: 0;
}

.featured__card:hover .featured__overlay {
  display: block;
}

.featured__hidden-button {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-align: center;
  padding: 13px 15px 13px 4px;
  background-color: transparent;
  border: 1px solid #FFFFFF;
  cursor: pointer;
}

.featured__card:hover .featured__hidden-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.featured__hidden-button:active {
  color: #F16D7F;
  text-align: center;
  padding: 13px 15px 13px 4px;
  border: 1px solid #F16D7F;
}

.featured__hidden-color {
  fill: white;
}

.featured__hidden-button:active .featured__hidden-color {
  fill: #F16D7F;
}

.featured__hidden-basket {
  margin: 0 11px 0;
}

.featured__link {
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin: 0 18px 0;
}

.featured__about {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 12px 18px 18px;
}

.featured__price {
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
  margin: 0 18px 20px;
}

.featured__button-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.featured__button {
  margin: 32px 0 0 0;
  font-size: 16px;
  line-height: 19px;
  padding: 14px 38px;
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
  text-align: center;
  cursor: pointer;
}

.featured__button:hover,
.featured__button:focus {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.featured__button:active {
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

@media (max-width: 1024px) {
  .featured__headline {
    margin: 155px 0 6px;
  }
}

@media (max-width: 767px) {
  .featured__headline {
    margin: 32px 0 6px;
  }
  .featured__item {
    width: 360px;
    margin: 0 0 30px;
  }
  .featured__wrp {
    width: 359px;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__base {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.form__input {
  padding: 13px 17px 16px;
  margin: 20px 0 0;
  border: #A4A4A4 1px solid;
  width: 360px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.form__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.form__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.form__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.form__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.form__sex {
  margin: 34px 0;
}

.form__radio {
  display: none;
}

.form__label {
  position: relative;
  margin: 0 47px 0 27px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
}

.form__label::before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  border: 1px solid #A4A4A4;
  left: -27px;
  border-radius: 20px;
}

.form__radio:checked + .form__label::before,
.form__radio:active + .form__label::before {
  background-color: #F16D7F;
}

.form__radio:hover + .form__label::before {
  background-color: #F1E4E6;
}

.form__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__about-password {
  font-weight: 300;
  font-size: 15px;
  line-height: 16px;
  color: #B1B1B1;
  margin: 15px 0 39px;
}

.form__button {
  padding: 17px 29px;
  background-color: #F16D7F;
  border: none;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 0 96px;
  width: 167px;
  height: 50px;
  position: relative;
  text-align: left;
  cursor: pointer;
}

.form__button-element {
  position: absolute;
  width: 17px;
  height: 10px;
  right: 29px;
  top: 20px;
}

.form__button-line {
  fill: white;
}

.form__button:hover .form__button-line {
  fill: #F16D7F;
}

.form__button:hover {
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

@media (max-width: 767px) {
  .form__button {
    margin: 0 0 40px;
  }
}

.header {
  background-color: #222224;
}

.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 75px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  margin-right: 41px;
}

.header__element {
  fill: #E8E8E8;
}

.header__element:active {
  fill: #E8E8E8;
}

.header__element:hover {
  fill: #F16D7F;
}

.header__button:hover .header__element,
.header__button:focus .header__element {
  fill: #F16D7F;
}

.header__button:active .header__element {
  fill: white;
}

.header__link:hover .header__element,
.header__link:focus .header__element {
  fill: #F16D7F;
}

.header__link:active .header__element {
  fill: white;
}

.header__search {
  margin: 0 20px 0;
  background-color: transparent;
  border: #F16D7F 1px solid;
  padding: 6px 10px 6px;
  border-radius: 15px;
}

.header__search::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.header__search:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.header__search::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.header__search::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  position: relative;
}

.header__button:hover + .header__nav {
  display: block;
}

.header__nav {
  position: absolute;
  right: 0;
  top: 75px;
  display: none;
  min-width: 232px;
  min-height: 765px;
  background-color: #fff;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header__item {
  margin-left: 33px;
}

@media (max-width: 767px) {
  .header_item--hidden {
    display: none;
  }
  .header__search {
    display: none;
  }
}

.information {
  margin: 95px 0 0;
  min-height: 341px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
}

.information__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.information__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.information__img {
  width: 40px;
  height: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.information__link {
  margin: 25px 0 16px;
  text-decoration: none;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
}

.information__description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

@media (max-width: 1024px) {
  .information__wrp {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .information__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px 0 16px;
    width: 320px;
  }
  .information__item {
    margin: 0 0 48px;
  }
}

@media (max-width: 767px) {
  .information__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 48px 0 16px;
  }
  .information__item {
    margin: 0 0 48px;
  }
}

.menu__list {
  padding: 37px 34px 0;
}

.menu__title {
  margin: 0 0 24px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}

.menu__section-name {
  text-decoration: none;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  margin: 0 0 11px;
}

.menu__sublist {
  margin: 0 0 20px;
}

.menu__sublist-item {
  margin: 11px 20px 0;
}

.menu__link {
  text-decoration: none;
  margin: 11px 0 0;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
}

.registration {
  background-color: #F8F3F4;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 64px;
}

.registration__headline {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.sections__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sections__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  min-height: 260px;
}

.sections__caption {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.sections__item-link {
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #F16D7F;
  text-transform: uppercase;
}

.sections__item--women {
  background-image: url(../img/for-women.jpg);
}

.sections__item--men {
  background-image: url(../img/for-men.jpg);
}

.sections__item--kids {
  background-image: url(../img/for-kids.jpg);
}

.sections__item--accesories {
  background-image: url(../img/accesories.jpg);
  width: 100%;
  background-repeat: no-repeat;
  min-height: 180px;
  margin: 30px 0 0 0;
}

@media (max-width: 1024px) {
  .sections__item {
    width: 232px;
    min-height: 167px;
  }
  .sections__item--accesories {
    min-height: 116px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sections__item {
    width: 343px;
    min-height: 247px;
    margin: 0 0 32px;
  }
  .sections__item--accesories {
    min-height: 111px;
    width: 100%;
  }
  .sections__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.shopping {
  background-color: #F8F3F4;
  min-height: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 64px;
}

.shopping__headline {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

.shopping__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 1024px) {
  .shopping__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.socials__wrp {
  min-height: 79px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.socials__rights {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.socials__item {
  margin: 0 8px 0 0;
}

.socials__link:hover,
.socials__link:focus {
  opacity: 0.5;
}

.socials__link:active {
  opacity: 1;
}

@media (max-width: 767px) {
  .socials__wrp {
    min-height: 143px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .socials__list {
    margin: 43px 0 0;
  }
  .socials__rights {
    margin: 40px 0 9px;
  }
}

.subscribe {
  min-height: 448px;
  background-image: url(../img/footer-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe__comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__img {
  width: 96px;
  height: 96px;
  margin: 97px 0 30px;
}

.subscribe__quote {
  width: 360px;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
}

.subscribe__italic {
  font-style: italic;
}

.subscribe__form {
  margin: 150px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.subscribe__headline {
  font-size: 24px;
  font-weight: 700;
  line-height: 38px;
  text-transform: uppercase;
}

.subscribe__subheadline {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
}

.subscribe__input {
  padding: 18px 22px;
  background-color: #E1E1E1;
  border: none;
  -webkit-border-top-left-radius: 50px;
  -webkit-border-bottom-left-radius: 50px;
  -moz-border-radius-topleft: 50px;
  -moz-border-radius-bottomleft: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.subscribe__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
}

.subscribe__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
}

.subscribe__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
}

.subscribe__input::placeholder {
  font-size: 14px;
  line-height: 17px;
}

.subscribe__button {
  padding: 18px 22px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
  -webkit-border-top-right-radius: 50px;
  -webkit-border-bottom-right-radius: 50px;
  -moz-border-radius-topright: 50px;
  -moz-border-radius-bottomright: 50px;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  cursor: pointer;
}

.subscribe__button:hover,
.subscribe__button:focus {
  background-color: transparent;
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.subscribe__button:active {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
}

@media (max-width: 1024px) {
  .subscribe__wrp {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .subscribe__form {
    margin: 48px 0 140px;
  }
  .subscribe__img {
    margin: 63px 0 30px;
  }
}

@media (max-width: 767px) {
  .subscribe__form {
    margin: 60px 0 110px;
  }
  .subscribe__img {
    margin: 63px 0 30px;
  }
  .subscribe__headline {
    font-weight: 700;
    font-size: 24px;
    line-height: 37px;
  }
  .subscribe__subheadline {
    font-size: 14px;
    line-height: 21px;
  }
  .subscribe__quote {
    font-size: 18px;
    line-height: 22px;
    width: 343px;
  }
}

.delivery {
  margin: 0 0 0 128px;
}

.delivery__title {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222224;
  text-transform: uppercase;
}

.delivery__input {
  width: 360px;
  min-height: 45px;
  margin: 20px 0 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding: 13px 17px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #A4A4A4;
}

.delivery__input::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222224;
}

.delivery__input:-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222224;
}

.delivery__input::-ms-input-placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222224;
}

.delivery__input::placeholder {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222224;
}

.delivery__get-button {
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  background-color: transparent;
  border: 1px solid #A4A4A4;
  padding: 11px 15px;
  margin: 23px 0 0;
  text-transform: uppercase;
  cursor: pointer;
}

.delivery__get-button:hover,
.delivery__get-button:focus {
  color: var(--pink);
  border: 1px solid var(--pink);
}

.delivery__get-button:active {
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
}

.delivery__counting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 360px;
  min-height: 214px;
  margin: 57px 0 0;
  padding: 39px 34px 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #F5F3F3;
}

.delivery__sub-total {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
}

.delivery__grand-total {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: var(--black);
  text-transform: uppercase;
  margin: 12px 0 0;
}

.delivery__grand-price {
  color: var(--pink);
}

.delivery__line {
  margin: 21px 0 17px;
  color: #E2E2E2;
  width: 100%;
  background-color: #E2E2E2;
}

.delivery__proceed-button {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background-color: #F16D7F;
  padding: 15px 42px;
  border: none;
  text-transform: uppercase;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.delivery__proceed-button:hover,
.delivery__proceed-button:focus {
  color: #F16D7F;
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
}

.delivery__proceed-button:active {
  color: #FFFFFF;
  background-color: #F16D7F;
  border: none;
}

@media (max-width: 1024px) {
  .delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 128px;
  }
  .delivery__form {
    width: 360px;
  }
  .delivery__counting {
    margin: 40px 0 0;
    height: 214px;
  }
  .delivery__proceed-button {
    padding: 15px 30px;
  }
}

@media (max-width: 767px) {
  .delivery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 0 96px;
  }
  .delivery__get-button {
    font-weight: 400;
  }
}

.purchase {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.purchase__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 0 72px;
}

.purchase__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 40px;
  width: 652px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.purchase__close {
  background-image: url(../img/close.svg);
  width: 18px;
  height: 18px;
  margin: 28px 0 0 35px;
}

.purchase__image {
  width: 262px;
  height: 306px;
}

.purchase__description {
  padding: 22px 0 0 31px;
}

.purchase__title {
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0 0 36px;
  color: #222224;
  font-style: normal;
  font-weight: 400;
}

.purchase__text {
  font-size: 22px;
  line-height: 26px;
  margin: 6px 0 0;
  color: #575757;
}

.purchase__price {
  color: #F16D7F;
}

.purchase__number {
  font-size: 18px;
  line-height: 22px;
  border: 1px solid #EAEAEA;
  padding: 1px 16px;
  margin: 0 0 0 24px;
}

.purchase__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 0 128px;
}

.purchase__button {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding: 16px 40px;
  text-transform: uppercase;
  border: 1px solid #A4A4A4;
  background-color: transparent;
  cursor: pointer;
  color: #222224;
}

.purchase__button:hover,
.purchase__button:focus {
  border: 1px solid #F16D7F;
  color: #F16D7F;
}

.purchase__button:active {
  border: 1px solid #A4A4A4;
  color: #222224;
}

@media (max-width: 1024px) {
  .purchase__item {
    width: 734px;
  }
  .purchase__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 0 64px;
  }
  .purchase__button {
    margin: 0 24px 0;
  }
  .purchase__list {
    margin: 0 0 22px;
  }
}

@media (max-width: 767px) {
  .purchase__item {
    width: 358px;
    height: 188px;
  }
  .purchase__image {
    width: 143px;
    height: 188px;
  }
  .purchase__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    margin: 0 0 25px;
    width: 130px;
  }
  .purchase__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 4px 0 0;
  }
  .purchase__number {
    font-size: 10px;
    line-height: 12px;
    border: 1px solid #EAEAEA;
    padding: 1px 8px;
    margin: 0 0 0 24px;
  }
  .purchase__buttons {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 0 48px;
  }
  .purchase__button {
    font-size: 12px;
    line-height: 14px;
    padding: 9px 34px;
    text-transform: none;
    margin: 0;
  }
  .purchase__close {
    background-image: url(../img/l-close.svg);
    width: 10px;
    height: 10px;
    margin: 17px 0 0 31px;
  }
  .purchase__description {
    padding: 13px 0 0 25px;
  }
}
/*# sourceMappingURL=style.css.map */