:root {
    --black: #222224;
    --pink: #F16D7F;
    --light-pink: #F1E4E6;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: var(--black);
}

.header {
    background-color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}


.header__group {
    display: flex;
    align-items: center;
}


.header__logo {
    margin-right: 41px;
}


.header__element {
    fill: #E8E8E8;
}

.header__element:hover,
.header__element:focus {
    fill: var(--pink);
}

.header__element:active {
    fill: #E8E8E8;
}

.header__search {
    margin: 0 20px 0;
    background-color: transparent;
    border: var(--pink) 1px solid;
    padding: 6px 10px 6px;
    border-radius: 15px;
}

.header__search::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.header__nav {
    display: none;
}

.header__list {
    display: flex;
    justify-content: space-between;
}

.header__button {
    border: none;
    background-color: transparent;
    cursor: pointer;

}

.header__item {
    margin-left: 33px;
}

.brand {
    display: flex;
    justify-content: space-between;
    margin: 0 0 64px;
}

.brand__headline-wrp {
    background-color: var(--light-pink);
    display: flex;
    flex-grow: 1;
    align-items: center;
}

.brand__headline {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    margin: 0 92px 0;
    position: relative;
}

.brand__headline::before {
    content: "";
    position: absolute;
    background-color: var(--pink);
    width: 12px;
    height: 92px;
    left: -28px;
}

.brand__subheadline {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.brand__sudheadline-pink {
    color: var(--pink);
}

.sections__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sections__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    width: 360px;
    min-height: 260px;

}

.sections__caption {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sections__item-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: var(--pink);
    text-transform: uppercase;
}

.sections__item--women {
    background-image: url(../img/for-women.jpg);
}

.sections__item--men {
    background-image: url(../img/for-men.jpg);
}

.sections__item--kids {
    background-image: url(../img/for-kids.jpg);
}

.sections__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    background-repeat: no-repeat;
    min-height: 180px;
    margin: 30px 0 0 0;
}

.featured__headline {
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    color: var(--black);
    margin: 97px 0 6px;
}

.featured__description {
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.featured__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 48px 0 0 0;
}

.featured__item {
    width: 360px;
    margin: 0 0 30px;
    background-color: #F8F8F8;
    box-sizing: border-box;
}

.featured__img {
    margin: 0 0 25px;
}

.featured__link {
    text-decoration: none;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 18px 0;
}

.featured__about {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 12px 18px 18px;
}

.featured__price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink);
    margin: 0 18px 20px;
}

.featured__button-wrp {
    display: flex;
    justify-content: center
}

.featured__button {
    margin: 32px 0 0 0;
    font-size: 16px;
    line-height: 19px;
    padding: 14px 38px;
    background-color: transparent;
    border: 1px solid var(--pink);
    color: var(--pink);
    text-align: center;
    cursor: pointer;
}

.featured__button:hover, 
.featured__button:focus {
    background-color: var(--pink);
    color: #FFFFFF;
}

footer {
    background-color: var(--black);
}

.information {
    margin: 95px 0 0;
    min-height: 341px;
    display: flex;
    text-align: center;
}

.information__wrp {
    display: flex;
    align-items: center;
}

.information__list {
    display: flex;
    justify-content: space-between;
}

.information__item {
    display: flex;
    flex-direction: column;
}

.information__img {
    width: 40px;
    height: 40px;
    align-self: center;
}

.information__link {
    margin: 25px 0 16px;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
}

.information__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.subscribe {
    min-height: 448px;
    background-image: url(../img/footer-bg.jpg);
    background-repeat: no-repeat;
}

.subscribe__wrp {
    display: flex;
    justify-content: space-between;
}

.subscribe__comment {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__img {
    width: 96px;
    height: 96px;
    margin: 97px 0 30px;
}

.subscribe__quote {
    width: 360px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.subscribe__italic {
    font-style: italic;
}

.subscribe__form {
    margin: 150px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.subscribe__headline {
    font-size: 24px;
    font-weight: 700;
    line-height: 38px;
    text-transform: uppercase;
}

.subscribe__subheadline {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 0 0 32px;
}

.subscribe__input {
    padding: 18px 22px;
    background-color: #E1E1E1;
    border: none;
    -webkit-border-top-left-radius: 50px;
    -webkit-border-bottom-left-radius: 50px;
    -moz-border-radius-topleft: 50px;
    -moz-border-radius-bottomleft: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.subscribe__input::placeholder {
    font-size: 14px;
    line-height: 17px;
}

.subscribe__button{
    padding: 18px 22px;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    background-color: var(--pink);
    border: none;
    -webkit-border-top-right-radius: 50px;
    -webkit-border-bottom-right-radius: 50px;
    -moz-border-radius-topright: 50px;
    -moz-border-radius-bottomright: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    cursor: pointer;
}

.subscribe__button:hover,
.subscribe__button:focus {
    background-color: transparent;
    border: 1px solid var(--pink);
    color: var(--pink);
}

.socials__wrp {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials__rights {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.socials__list {
    display: flex;
    justify-content: space-between;
}

.socials__item {
    margin: 0 8px 0 0;
}

.socials__item:hover,
.socials__item:focus {
    opacity: 0.5;
}

.socials__item:active {
    opacity: 1;
}

.registration {
    background-color: #F8F3F4;
    min-height: 148px;
    display: flex;
    align-items: center;
    margin: 0 0 64px;
}

.registration__headline {
    font-size: 24px;
    line-height: 29px;
    color: var(--pink);
    text-transform: uppercase;
}

.content__wrp {
    display: flex;
    justify-content: space-between;
}

.form {
    display: flex;
    flex-direction: column;
}

.form__base {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.form__input {
    padding: 13px 17px 16px;
    margin: 20px 0 0;
    border: #A4A4A4 1px solid;
    width: 360px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.form__input::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.form__sex {
    margin: 34px 0;
}

.form__radio {
    display: none;
}

.form__label {
    position: relative;
    margin: 0 47px 0 27px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.form__label::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    border: 1px solid #A4A4A4;
    left: -27px;
    border-radius: 20px;
}

.form__radio:checked+.form__label::before {
    background-color: var(--pink);
}

.form__details {
    display: flex;
    flex-direction: column;
}

.form__about-password {
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px;
}

.form__button {
    padding: 17px 29px;
    background-color: var(--pink);
    border: none;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 96px;
    width: 167px;
    height: 50px;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.form__button:hover {    
    background-color: transparent;
    border: 1px solid var(--pink);
    color: var(--pink);
}

.form__button::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 10px;
    background-image: url(../img/arrow.svg);
    right: 29px;
    top: 20px;
}

.content__perks {
    margin: 0 128px 0;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
}

.content__title {
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 24px;
}

.content__item {
    position: relative; 
    margin: 0 43px 16px;
}

.content__list {
    margin: 21px 0 0;
}

.content__item::before {
    content: "";
    width: 20px;
    height: 16px;
    position: absolute;
    top: 6px;
    left: -42px;
    background-image: url(../img/check.svg);
}
