
body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: $black;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

footer {
    background-color: $black;
}

@media (max-width: $desktop-width) {
    .container {
        width: 734px;
    }
}

@media (max-width: $tablet-width) {
    .container {
        width: 360px;
    }
}