@import './reset';
@import './variables';
@import './general';
@import './blocks/brand';
@import './blocks/content';
@import './blocks/featured';
@import './blocks/form';
@import './blocks/header';
@import './blocks/information';
@import './blocks/menu';
@import './blocks/registration';
@import './blocks/sections';
@import './blocks/shopping';
@import './blocks/socials';
@import './blocks/subscribe';
@import './blocks/delivery';
@import './blocks/purchase';
@import './mixins';
