.brand {
    display: flex;
    justify-content: space-between;
    margin: 0 0 64px;
}

.brand__headline-wrp {
    background-color: $light-pink;
    display: flex;
    flex-grow: 1;
    align-items: center; 
}

.brand__headline {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    margin: 0 92px 0;
    position: relative;
}


.brand__headline::before {
    content: "";
    position: absolute;
    background-color: $pink;
    width: 12px;
    height: 92px;
    left: -28px;
}


.brand__subheadline {
    display: block;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.brand__sudheadline-pink {
    color: $pink;
}

@media (max-width: $desktop-width) {
    .brand__img {
        width: 50%;
    }

    .brand__headline {
        font-weight: 900;
        font-size: 44px;
        line-height: 53px;
        margin: 0 34px 0 68px;
    }

    .brand__subheadline {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
    }
    
}

@media (max-width: $tablet-width) {
    .brand__img {
        display: none;
    }
    .brand__headline {
        font-weight: 900;
        font-size: 38px;
        line-height: 46px;
        margin: 148px 34px 148px 68px;
    }
    .brand__subheadline {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
    }
    
    .brand__headline::before {
        height: 70px;
    }
}