.form {
    display: flex;
    flex-direction: column;
}

.form__base {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
}

.form__input {
    padding: 13px 17px 16px;
    margin: 20px 0 0;
    border: #A4A4A4 1px solid;
    width: 360px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
}

.form__input::placeholder {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.form__sex {
    margin: 34px 0;
}

.form__radio {
    display: none;
}

.form__label {
    position: relative;
    margin: 0 47px 0 27px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
}

.form__label::before {
    content: "";
    width: 17px;
    height: 17px;
    position: absolute;
    border: 1px solid #A4A4A4;
    left: -27px;
    border-radius: 20px;
}

.form__radio:checked+.form__label::before,
.form__radio:active+.form__label::before {
    background-color: $pink;
}

.form__radio:hover+.form__label::before {
    background-color: $light-pink;
}

.form__details {
    display: flex;
    flex-direction: column;
}

.form__about-password {
    font-weight: 300;
    font-size: 15px;
    line-height: 16px;
    color: #B1B1B1;
    margin: 15px 0 39px;
}

.form__button {
    padding: 17px 29px;
    background-color: $pink;
    border: none;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 0 96px;
    width: 167px;
    height: 50px;
    position: relative;
    text-align: left;
    cursor: pointer;
}

.form__button-element {
    position: absolute;
    width: 17px;
    height: 10px;
    right: 29px;
    top: 20px;
}

.form__button-line {
    fill: white;
}

.form__button:hover .form__button-line {
    fill: $pink;
}

.form__button:hover {    
    background-color: transparent;
    border: 1px solid $pink;
    color: $pink;
}
