.information {
    margin: 95px 0 0;
    min-height: 341px;
    display: flex;
    text-align: center;
}

.information__wrp {
    display: flex;
    align-items: center;
}

.information__list {
    display: flex;
    justify-content: space-between;
}

.information__item {
    display: flex;
    flex-direction: column;
    width: 31.6%;
}

.information__img {
    width: 40px;
    height: 40px;
    align-self: center;
}

.information__link {
    margin: 25px 0 16px;
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FBFBFB;
}

.information__description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

@media (max-width: $tablet-width) {
    .information__wrp {
        justify-content: center;
    }

    .information__list {
        flex-direction: column;
        margin: 48px 0 16px;
        width: 93.3%;
    }

    .information__item {
        margin: 0 0 48px;
        width: 100%;
    }
}

@media (max-width: $mobile-width) {
    .information__list {
        flex-direction: column;
        margin: 48px 0 16px;
    }

    .information__item {
        margin: 0 0 48px;
    }
}