.sections__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.sections__item {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    box-sizing: border-box;
    width: 31.6%;
    min-height: 260px;
}

.sections__caption {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.sections__item-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
    color: $pink;
    text-transform: uppercase;
}

.sections__item--women {
    background-image: url(../img/for-women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.sections__item--men {
    background-image: url(../img/for-men.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.sections__item--kids {
    background-image: url(../img/for-kids.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

.sections__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 180px;
    margin: 30px 0 0 0;
}

@media (max-width: $tablet-width) {
    .sections__item {
        min-height: 167px;
    }

    .sections__item--accesories {
        min-height: 116px;
        width: 100%;
    }
}

@media (max-width: $mobile-width) {
    .sections__item {
        width: 100%;
        min-height: 247px;
        margin: 0 0 32px;
    }

    .sections__item--accesories {
        min-height: 111px;
        width: 100%;
    }

    .sections__list {
        justify-content: center;
    }
}