.shopping {
    background-color: #F8F3F4;
    min-height: 148px;
    display: flex;
    align-items: center;
    margin: 0 0 64px;
}

.shopping__headline {
    font-size: 24px;
    line-height: 29px;
    color: $pink;
    text-transform: uppercase;
}

.shopping__wrp {
    display: flex;
    justify-content: space-between;
}

@media (max-width: $desktop-width) {
    .shopping__wrp {
        flex-direction: column;
    }
}
