.socials__wrp {
    min-height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials__rights {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}

.socials__list {
    display: flex;
    justify-content: space-between;
}

.socials__item {
    margin: 0 8px 0 0;
}

.socials__link:hover,
.socials__link:focus {
    opacity: 0.5;
}

.socials__link:active {
    opacity: 1;
}

@media (max-width: $mobile-width) {
    .socials__wrp {
        min-height: 143px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .socials__list {
        margin: 43px 0 0;
    }
    .socials__rights {
        margin: 40px 0 9px;
    }
}

@media (max-width: $tablet-mobile-mid-width) {
    .socials__wrp {
        min-height: 143px;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .socials__list {
        margin: 43px 0 0;
    }
    .socials__rights {
        margin: 40px 0 9px;
    }
}